/* CSS for megamenu in header */
.menu{
	width:100%;
	display:inline-block;
	vertical-align:top;
	width:80%;
	float:right;
	}
.menu ul{
	display:inline-block;
	float: right;
    margin: 18px 0 0;
	list-style:none;
	padding-left:0;
	}
.menu ul li {
	float:left;
	}
.menu ul li > a {
    color: #666;
    display: block;
    font-size: 16px;
    padding: 12px 20px 21px;
    text-decoration: none;
    transition: none 0s ease 0s ;
    width: 100%;		
	position:relative;
}
.menu ul li > ul {
   background: #000 none repeat scroll 0 0;
   left: 0;
   width: 1140px;
   display:none;
   transition: all 0.3s linear 0s;
   z-index: 50;
   position:absolute;
   margin:0px;
   left:0px;
}
.menu ul li.menu-item-has-children{
	 position:relative;
	 
	 }
.menu ul li > ul.sub-menu{
	width:180px;
	}
.menu ul li.menu-item-has-children a::before{
	content:"\f107";
    font-family: FontAwesome;
    font-size: 18px;
    position: absolute;
    right: 0px;
	}

.menu ul li:hover ul {
	display:block;
}
.menu ul li.menu-item-has-children .sub-menu li > a::before{
	content:"";
   	}
.menu ul li .sub-menu li .sub-menu a:before{
	content:"";
	}
.menu ul li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before		
{
	content:"\f105";
    font-family: FontAwesome;
    font-size: 18px;
    position: absolute;
    right: 10px;
	top:8px;
	}

.leftmenu{
	left:-180px !important;
}
.menu ul li > ul li ul,
.menu ul li:hover ul li ul{
	left:180px;
	top:5px;
	display:none;
}
.menu ul li > ul li{
	width:100%;
	position:relative;
}
.menu ul li > ul li a {
    border-bottom: 1px solid #222;
    color: #999;
    display: block;
    font-size: 14px;
    padding: 10px 15px;
    transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
}
.menu ul li > ul li a:hover {
    color: #fff;
}


.menu ul li.sm ul li.submenu ul li a::before{
	display:none;
	}
	
/* full width mennu */
.menu ul li.fullwidth ul.sub-menu{
	width:1140px;
	padding:10px 20px 20px;
	}
.menu ul li.fullwidth.menu-item-has-children{
	 position:static;
	 }		


.menu ul li.fullwidth ul.sub-menu li{
	width:25%;
	float:left;
	padding:0px 15px;
	} 
.menu ul li.fullwidth ul.sub-menu a::before{
	content:"\f105";
    font-family: FontAwesome;
    font-size: 18px;
    position: absolute;
    left: 0px;
	display:block;
	top:7px;
	} 		
.menu ul li.fullwidth ul.sub-menu li a::before{
	content:"\f105";
    font-family: FontAwesome;
    font-size: 18px;
    position: absolute;
    left: 0px;
	display:block;
	top:6px;
	}